<!-- The extends Jinja template includes the content of a template (here base.html) -->
{% extends "base.html" %}

<!-- replaces the block named 'content' from the base html file-->
{% block content %}

    <h1>Hello {{user.username}}!</h1>

    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}

{% endblock %}

<!-- Some more notes: -->
<!-- {{  }} is used to insert data dynamically -->
<!-- {%  %} is used to define Jinja keywords-->